<div class="card mosaic-item modal-trigger colored {% if smallcard == true %}small{% endif %}" id="card-{{ card_number }}">
<div class="meta">
  <div class="card-meta">
    <div class="short-tag gradient">
      {{ card.category }}
    </div>
    <span class="card-date">
      / 6.2.2016
      {{ card.date |  }}
    </span>
  </div>
  <div class="title">
    <h2 class="gradient">{{ card.title }}</h2>
  </div>
</div>
    <div id="the-modal02" class="modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close-modal" href="#"></a>
      <div class="modal-slider-holder">
        <div class="flex-direction-nav">

          <a class="btn-prev" href="prev"></a>
          <a class="btn-next" href="next"></a>
        </div>
        <div class="modal-slider flexslider">

          <ul class="slides">
            <li class="slide">
              <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
            </li>
            <li class="slide">
              <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
            </li>
          </ul>

        </div>
      </div>

      <div class="body-holder">
        <h1>sporta holic</h1>
        <div class="row row-body">
          <div class="col-xs-12 col-md-6">
            <div class="desc">
              <h3>about project</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="desc">
              <h3>client</h3>
              <p>BLAH Productions</p>
            </div>
            <div class="desc">
              <h3>project date</h3>
              <p>12 july 2014</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="desc">
              <h3>share this project</h3>
              <ul class="share-icons">
                <li><a class="fa fa-facebook" href="#">facebook</a></li>
                <li><a class="fa fa-twitter" href="#">twitter</a></li>
                <li><a class="fa fa-pinterest" href="#">pinterest</a></li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
