<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Responsive, Template">
<meta name="robots" content="all">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<title>{{ site.name }}</title>

<link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">

{{ 'bootstrap.css'                     | stylesheet_tag }}
{{ 'application.css'                   | stylesheet_tag }}
{{ 'flexslider.css'                    | stylesheet_tag }}
{{ 'prettyPhoto.css'                   | stylesheet_tag }}
{{ 'stylesheet.css'                    | stylesheet_tag }}
{{ 'font-awesome/font-awesome.min.css' | stylesheet_tag }}
{{ 'general.css' | stylesheet_tag }}
