<div class="mosaic-holder">
  {% for card in contents.home_cards %}

    {% assign card_number = forloop.index %}

    {% if forloop.index == 6 of forloop.index == 9 %}
      {% assign smallcard = true %}
    {% else %}
      {% assign smallcard = false %}
    {% endif %}

    {% if forloop.index == 1 or forloop.index == 4 or forloop.index == 7 or forloop.index == 10 %}
      <div class="col-md-3 {% if forloop.index == 4 or forloop.index == 7 %} middle-row {% endif %} no-margin">
    {% endif %}

    {% if card.video == true %}
      {% include 'card-video' with card: card, card_number: card_number, smallcard: smallcard %}
    {% elsif card.card_type == "Project" %}
      {% include 'card-project' with card: card, card_number: card_number, smallcard: smallcard %}
    {% else %}
      {% include 'card-post' with card: card, card_number: card_number, smallcard: smallcard %}
    {% endif %}

    {% if forloop.index == 3 or forloop.index == 6 or forloop.index == 9 or forloop.index == 12 %}
      </div>
    {% endif %}

  {% endfor %}
</div>


<!--<div class="mosaic-holder">

<div class="col-md-3 middle-row no-margin">
  <div class="mosaic-item modal-trigger colored">
    <div class="meta">
      <div class="title">
        no more<br>
        war.
      </div>
      <div class="short-tag">
        branding
      </div>
    </div>
     <div id="the-modal04" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg'  | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>no more war.</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-item modal-trigger imaged">
    <div class="image">
      <img alt="" src="{{ 'services/work03.jpg' | theme_image_url }}">
    </div>
    <div class="meta">

      <div class="title">
        cyborgs<br>
        gears
      </div>
      <div class="short-tag">
        digital art
      </div>
    </div>
     <div id="the-modal05" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>cyborgs gears</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-item modal-trigger small colored">
    <div class="meta">
      <div class="title">
        no for new<br>
       colonialism.
      </div>
      <div class="short-tag">
        branding
      </div>
    </div>
      <div id="the-modal55" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>no for new colonialism.</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 middle-row no-margin">
  <div class="mosaic-item modal-trigger imaged">
    <div class="image">
      <img alt="" src="{{ 'services/work04.jpg' | theme_image_url }}">
    </div>
    <div class="meta">

      <div class="title">
        kid cudi<br>
        music album.
      </div>
      <div class="short-tag">
        branding
      </div>
    </div>

     <div id="the-modal06" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>kid cudi music album.</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-item modal-trigger colored" >
    <div class="meta">
      <div class="title">
       #save<br>
        Humanity.
      </div>
      <div class="short-tag">
        video
      </div>
    </div>
     <div id="the-modal07" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>#save Humanity.</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-item modal-trigger small imaged"  >
    <div class="image">
      <img alt="" src="{{ 'services/work05.jpg' | theme_image_url }}">
    </div>
    <div class="meta">
      <div class="title">
        apollo<br>
        campaign.
      </div>
      <div class="short-tag">
        digital art
      </div>
    </div>
     <div id="the-modal08" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg'  | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>apollo campaign.</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>about project</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 no-margin">
  {% include 'card-video' with card_number: 2 %}
  <div class="mosaic-item modal-trigger imaged"  >
    <div class="image">
      <img alt="" src="{{ 'services/work02.jpg'  | theme_image_url }}">
    </div>
    <div class="meta">
      <div class="title">
        redesegin<br>
        Colonialism.
      </div>
      <div class="short-tag">
        branding
      </div>
    </div>
     <div id="the-modal12" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>redesegin Colonialism</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>redesegin Colonialism</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-item modal-trigger colored"  >
    <div class="meta">
      <div class="title">
        english man in<br>
        new york.
      </div>
      <div class="short-tag">
        photography
      </div>
    </div>
     <div id="the-modal10" class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">
          <a class="close-modal" href="#"></a>
          <div class="modal-slider-holder">
            <div class="flex-direction-nav">

              <a class="btn-prev" href="prev"></a>
              <a class="btn-next" href="next"></a>
            </div>
            <div class="modal-slider flexslider">

              <ul class="slides">
                <li class="slide">
                  <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                </li>
                <li class="slide">
                  <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                </li>
              </ul>

            </div>
          </div>

          <div class="body-holder">
            <h1>redesegin Colonialism</h1>
            <div class="row row-body">
              <div class="col-xs-12 col-md-6">
                <div class="desc">
                  <h3>redesegin Colonialism</h3>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>client</h3>
                  <p>BLAH Productions</p>
                </div>
                <div class="desc">
                  <h3>project date</h3>
                  <p>12 july 2014</p>
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <div class="desc">
                  <h3>share this project</h3>
                  <ul class="share-icons">
                    <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                    <li><a class="fa fa-twitter" href="#">twitter</a></li>
                    <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->
