<section class="cd-horizontal-timeline">
  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          {% for milestone in contents.milestones %}
            <li>
              <a href="#0"
              data-date="{{ milestone.date | date: '%d/%m/%Y' }}"
              '{% if forloop.first %}'
                class="selected"
              '{% endif %}'>
              {{ milestone.date | format_date: "%d %b" }}
              </a>
            </li>
          {% endfor %}
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div> <!-- .events -->
    </div> <!-- .events-wrapper -->

    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul> <!-- .cd-timeline-navigation -->
  </div> <!-- .timeline -->

  <div class="events-content">
    <ol>
      {% for milestone in contents.milestones %}
        <li class="{% if forloop.first %}selected{% endif %}" data-date="{{ milestone.date | date: '%d/%m/%Y' }}">
          <h1 class="gradient">{{ milestone.title }}</h1>
          <h3>{{ milestone.date | format_date: "%B, %Y" }}</h3>
            <p>{{ milestone.description }}</p>
        </li>
      {% endfor %}
    </ol>
  </div> <!-- .events-content -->
</section>
