---
title: Project template page
slug: content_type_template
position: 99
listed: false
published: true
is_layout: false
content_type: projects
---
{% extends "layouts/default" %}

{% block content %}

  <div class="wrapper" id="article">
    <section class="content-portfolio description white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            {% if project.video %}
              <div class="container" style="    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;">
                <iframe style="position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;" src="https://www.youtube.com/embed/{{ yt_link | split: 'https://www.youtube.com/watch?v=' }}?rel=0"
                frameborder="0" allowfullscreen class="video"></iframe>
              </div>
            {% endif %}

            <h2 class="tasks">{{ project.tasks }}</h2>
            <h1>{{ project.name }}</h1>
            <div class="eta"></div>

            <div style="color: black;">
              {{ project.description }}
            </div>

          </div>
        </div>
      </div>
    </section>

    {% if project.cover_image %}
      <section id="projectCover">
          <div class="" style="height: 500px;
                               width: 100%;
                               background-image: url('{{ project.cover_image.url }}');
                               background-position: center;
                               background-size: cover;
                               background-repeat: no-repeat;"></div>
          <!-- <div class="white-noise"></div> -->
      </section>
    {% endif %}

    {% if project.quote %}
      <section class="content-portfolio quote white">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <p class="quote-text">
                "{{ project.quote }}"
              </p>
              <span class="right">~ {{ project.quote_name }}</span>
          </div>
        </div>
      </section>
    {% endif %}

    <section class="content-portfolio stats text-center">
      <div class="container">

        {% if project.keystat_heading and project.keystat_paragraph %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <h2 class="text-center">Key Stat.</h2>
              <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
              <h1 class="text-center">{{ project.keystat_heading }}</h1>
              <p class="text-center">
                {{ project.keystat_paragraph }}
              </p>
              <!-- <img src="{{ project.statimage.url }}" /> -->
              <img src="{{ 'Carlosthecreator.jpg' | theme_image_url }}" />
            </div>
          </div>
        {% endif %}

      <div class="row">
        <div class="text-left col-md-3 factitem">
          <h2>
            95%
          </h2>
          <span>
            Growth in ticket sales.
          </span>
        </div>
        <div class="col-md-3 col-md-offset-1 factitem">
          <h2>{{ project.stat2title }}</h2>
          <p>
            {{ project.stat2content }}
          </p>
        </div>
        <div class="col-md-3 col-md-offset-1 factitem">
          <h2>{{ project.stat3title }}</h2>
          <p>
            {{ project.stat3content }}
          </p>
        </div>
      </div>
    </section>

    <section class="content-portfolio contact-portfolio white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="stripe"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Contact.</h2>
            <p class="text-center">
              Want to know more? Give Carlos a call. He likes it.
            </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <img src="../images/carlos.png" width="150"class="img-circle" alt="" />
        </div>
        <div class="col-md-4">
          <h4>
            Carlos Virreira, Commercial Director
          </h4>
          <p class="contactinfo"><a href="mailto:carlos@whale-agency.com">carlos@whale-agency.com</a></p>
          <p class="contactinfo"><a href="tel:+31(6)5453206">+31(6)5453206</a></p>
        </div>
      </div>
    </section>

    {% comment %}
      This DIV takes care of the card modals. Do not remove
    {% endcomment %}
    <div id="modalTemp" class="modal"></div>

    <section class="content-portfolio keepreading">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Keep reading</h2>
            <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
          </div>
        </div>

        {% include 'keep-reading' with project: project %}
      </div>
    </section>

    {% include 'footer-contact' %}

  </div>
</div>

{% endblock %}
