---
title: Real Home page
slug: real-home
handle: real_home
position: 99
listed: false
published: true
is_layout: false
editable_elements:
  content/heading: "Passionately curious"
  content/sub_heading: A digital product agency for the
  'content/label:': We work with a great happiness feel
---
{% extends 'layouts/default' %}

{% block content %}
  <div class="wrapper">

    {% include 'slider' %}

    <div id="modalTemp" class="modal"></div>

    <section id="projects">

    <section class="content projects" id="grid-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="gradient">Humble &amp; proud.</h1>
            <p>We are proud of our work but humble enough to know it is not perfect and it can always be improved. Just like a Whale, we like to stick around with our products (calfs) for a long enough time so we ensure that they are doing great.</p>
            <p>How we approach projects:</p>
            <a href="#" class="icon-arrow">&nbsp;</a>
          </div>
        </div>
      </div>
      <div class="isolayer isolayer--deco1 isolayer--shadow">
        <ul class="grid">
          {% for project in contents.projects %}
            <li class="grid__item">
              <a class="grid__link" href="https://dribbble.com/fuviz"><div class="layer"></div><div class="layer"></div><div class="layer"></div><img class="grid__img layer" src="{{ project.cover_image.url }}" alt="01" /></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="content organisations" id="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="gradient">Trusted by these organisations.</h1>
          </div>
        </div>
        <div clas="row">
          <div class="col-md-12">
            <div class="companies">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          </div>
      </div>
    </section>

    <section class="content services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Our services</h3>
            <div class="table">
              <div class="table-header">
                <h2 class="gradient">Experience design.</h2>
                <p>
                  Customer Journey Mapping, User Segmentation, Experience Design
                </p>
              </div>
              <div class="table-left">
                <h2 class="gradient">Pre-customer experience.</h2>
                <ul>
                  <li>SEO</li>
                  <li>SEA</li>
                  <li>Social</li>
                  <li>Campaigns</li>
                  <li>Websites</li>
                </ul>
              </div>
              <div class="table-center">
                <h2 class="gradient">Customer experience.</h2>
                <ul>
                  <ul>
                    <li>Websites</li>
                    <li>Apps</li>
                    <li>Social</li>
                  </ul>
                </ul>
              </div>
              <div class="table-right">
                <h2 class="gradient">Post-customer experience.</h2>
                <ul>
                  <li>Websites</li>
                  <li>Apps</li>
                  <li>Social</li>
                </ul>
              </div>
              <div class="table-footer">
                <h2 class="gradient">Testing &amp; optimizations.</h2>
                <p>
                  Data analysys &amp; insights, A/B Testing &amp; frameworks, Custom dashboards.
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="content timeline" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'timeline' %}
        </div>
      </div>
    </div>
  </section>

  <section class="content whatif">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="gradient">We believe in the power of what if?</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content end" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center">YOU REACHED THE END!</h3>
          <h1 class="gradient text-center">Feel like <span class="hover">collaborating</span>, starting a new <span class="hover">job</span> with us, or just want to say <span class="hover">hello?</span></h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="gradient">Keep it cool.</h2>
          <p>
            We are open for doing bizz in many countries and with many different conditions. If you want to hit us up then do so!
          </p>
          <span class="contactinfo">+31 0653607160</span>
        </div>
        <div class="col-md-4">
          <h2 class="gradient">Stay hip to it.</h2>
          <p>
            We are open for doing bizz in many countries and with many different conditions. If you want to hit us up then do so!
          </p>
          <span class="contactinfo">work@whale-agency.com</span>
        </div>
        <div class="col-md-4">
          <h2 class="gradient">Get answers.</h2>
          <p>
            We are open for doing bizz in many countries and with many different conditions. If you want to hit us up then do so!
          </p>
          <span class="contactinfo">
            <a href="#">Facebook</a> |
            <a href="#">LinkedIn</a> |
            <a href="#">Twitter</a>
          </span>
        </div>
      </div>
    </div>
  </section>





{% endblock %}

<!--
    <section id="services" data-background-image="{{ 'bg-services.jpg' | theme_image_url }}">

      <div class="container">
        <div class="flexslider services-slider">
          <div class="flex-direction-nav">

            <a class="btn-prev" href="prev"></a>
            <a class="btn-next" href="next"></a>
          </div>
          <ul class="slides">
            <li class="slide">

              <div class="slide-content">
                <div class="caption">
                  <div class="small uppercase">
                    {% editable_text, label: "PreHeading for services section" %}
                      what we are expert
                    {% endeditable_text %}

                  </div>
                  <div class="big">
                    {% editable_text, label: "Heading for services section" %}
                      we build apps.
                    {% endeditable_text %}
                  </div>
                  <div class="small">
                    {% editable_text, label: "SubHeading for services section" %}
                      We work with a great happiness feel
                    {% endeditable_text %}

                  </div>

                  <a class="play-button inverse" href="#">watch the process</a>
                </div>

                <div class="image">
                  <img alt="" src="{{ 'responsive01.png' | theme_image_url }}" />
                </div>
              </div>
            </li>



            <li class="slide">

              <div class="slide-content">
                <div class="caption">
                  <div class="small uppercase">
                    what we are expert
                  </div>
                  <div class="big">
                    we make websites
                  </div>
                  <div class="small">
                    We work with a great happiness feel
                  </div>

                  <a class="play-button" href="https://www.youtube.com/watch?v=kuceVNBTJio">watch the process</a>
                </div>

                <div class="image">
                  <img alt="" src="{{ 'responsive01.png' | theme_image_url }}" />
                </div>
              </div>
            </li>



          </ul>

          <div class="nav-holder">

            <a class="btn-prev" href="prev"></a>
            <a class="btn-next" href="next"></a>
          </div>
        </div>
      </div>
    </section>

    <section id="teams">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            best team ever
          </div>
          <div class="big">
            the avant grade.
          </div>
          <div class="small capital">
            designer, programmer, illustrator. photographer
          </div>
        </div>
      </div>
      <div class="mosaic-holder">
        <div class="row">
          <div class="col-md-6 no-margin">

             <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'member03.jpg' | theme_image_url }}">

              </div>
              <div class="meta">
                <div class="title">
                  are you<br>
                  willing to join?
                </div>
                <div class="short-tag">
                  send us your cv
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-envelope-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal04" class="modal-content">
                <h3>willing to join?</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

                <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'member02.jpg' | theme_image_url }}">

              </div>
              <div class="meta">
                <div class="title">
                  carmenya<br>
                  javanotchksi.
                </div>
                <div class="short-tag">
                  developer
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal02" class="modal-content">
                <h3>carmenya javanotchksi</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>
          </div>


          <div class="col-md-6 no-margin">


             <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'Carlosthecreator.jpg' | theme_image_url }}">

              </div>

              <div class="meta">
                <div class="title">
                  Carlos<br>
                  Virreira.
                </div>
                <div class="short-tag">
                  People & Objectives
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal01" class="modal-content">
                <h3>joanne de huffington</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

            <div class="mosaic-item prettyphoto colored"  >
              <div class="meta">
                <div class="title">
                  alexandre<br>
                  kimberly
                </div>
                <div class="short-tag">
                  art director
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal03" class="modal-content">
                <h3>alexandre</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    {% include 'timeline' %}

    <section id="studio">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            where we work
          </div>
          <div class="big">
            inside the studio
          </div>
          <div class="small capital">
            when designing our studio, we incorporated old,classy and clean,<br>
            along with the work of our friends and neighbors.
          </div>
        </div>
      </div>
      <div class="tiles-holder">
        <div class="row">
          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_27.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              high five - succeed
            </div>
          </div>
          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_28.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              meeting with a team
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_29.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              nineball tournament
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_30.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              alex & paul hangout
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_31.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              bravo the squad
            </div>
          </div>
        </div>
      </div>


    </section>



    <section id="clients">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            more than a hundreds
          </div>
          <div class="big">
            50+ satisfied clients.
          </div>
          <div class="small capital">
            our vision is to make the people happy with the works.
          </div>
        </div>

       <div class="row clients-row">
          <div class="col-md-3 ">
            <div class="client-item">
              <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo01.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo02.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo03.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo04.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row clients-row">
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo05.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo06.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo07.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo08.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section id="contact">
      <div class="container">
        <div class="col-md-4">
          <div class="footer-widget">
            <h1>Office.</h1>
            <div class="body">
              <p>Gele Rijders Plein 11-1<br>
                6811AN Arnhem<br>
                Netherlands
              </p>
              <div class="margined">
                Tel. +1 808 1234 456
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h1>hire us.</h1>
            <div class="body">
              <p>Let's get start with a simple project together!

              </p>
              <div class="margined">
                hello@whale-agency.com
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="footer-widget">
            <h1>follow us.</h1>
            <div class="body">
              <p>
                We are open to get any suggestions about your problems and please follow our social media to connect with us!
              </p>
              <div class="margined social-icons">
                <ul>
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-linkedin" href="#"></a></li>
                  <li><a class="fa fa-google-plus" href="#"></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>




  </div>
