---
title: Real Home page
published: true
handle: real_home
slug: real-home
---
{% extends 'layouts/default' %}

{% block content %}
  <div class="wrapper">

    {% include 'slider' %}

    <div id="modalTemp" class="modal"></div>

    <section id="works">
      <div class="container">
        <div class="mosaic-holder">
          <div class="col-md-3 no-margin">
            <div class="mosaic-item modal-trigger  imaged"  >
              <div class="image">
                <img alt="" src="{{ 'services/work01.jpg' | theme_image_url }}">
              </div>
              <div class="meta">

                <div class="title">
                  planet of the<br>
                  apes.
                </div>
                <div class="short-tag">
                  motion graphic
                </div>
              </div>
              <div id="the-modal01" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>planet of the apes.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="mosaic-item modal-trigger colored"  >
              <div class="meta">
                <div class="title">
                  sporta<br>
                  holic.
                </div>
                <div class="short-tag">
                  branding
                </div>
              </div>
                  <div id="the-modal02" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>sporta holic</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mosaic-item modal-trigger imaged"  >
              <div class="image">
                <img alt="" src="{{ 'services/work02.jpg' | theme_image_url }}">
              </div>
              <div class="meta">
                <div class="title">
                  redesegin<br>
                  space.
                </div>
                <div class="short-tag">
                  illustration
                </div>
              </div>
              <div id="the-modal03" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>redesegin space</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>



          <div class="col-md-3 middle-row no-margin">

            <div class="mosaic-item modal-trigger colored"  >
              <div class="meta">
                <div class="title">
                  no more<br>
                  war.
                </div>
                <div class="short-tag">
                  branding
                </div>
              </div>
               <div id="the-modal04" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg'  | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>no more war.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mosaic-item modal-trigger imaged" >
              <div class="image">
                <img alt="" src="{{ 'services/work03.jpg' | theme_image_url }}">
              </div>
              <div class="meta">

                <div class="title">
                  cyborgs<br>
                  gears
                </div>
                <div class="short-tag">
                  digital art
                </div>
              </div>
               <div id="the-modal05" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>cyborgs gears</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mosaic-item modal-trigger small colored"  >
              <div class="meta">
                <div class="title">
                  no for new<br>
                 colonialism.
                </div>
                <div class="short-tag">
                  branding
                </div>
              </div>
                <div id="the-modal55" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>no for new colonialism.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3 middle-row no-margin">
            <div class="mosaic-item modal-trigger imaged" >
              <div class="image">
                <img alt="" src="{{ 'services/work04.jpg' | theme_image_url }}">
              </div>
              <div class="meta">

                <div class="title">
                  kid cudi<br>
                  music album.
                </div>
                <div class="short-tag">
                  branding
                </div>
              </div>

               <div id="the-modal06" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>kid cudi music album.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mosaic-item modal-trigger colored"  >
              <div class="meta">
                <div class="title">
                 #save<br>
                  Humanity.
                </div>
                <div class="short-tag">
                  video
                </div>
              </div>
               <div id="the-modal07" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>#save Humanity.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mosaic-item modal-trigger small imaged"  >
              <div class="image">
                <img alt="" src="{{ 'services/work05.jpg' | theme_image_url }}">
              </div>
              <div class="meta">
                <div class="title">
                  apollo<br>
                  campaign.
                </div>
                <div class="short-tag">
                  digital art
                </div>
              </div>
               <div id="the-modal08" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg'  | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>apollo campaign.</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-3 no-margin">
            <div class="mosaic-item modal-trigger colored" >

              <div class="meta">

                <div class="title">
                  national<br>
                  demographic.
                </div>
                <div class="short-tag">
                  web design
                </div>
              </div>
               <div id="the-modal09" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg'  | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg'  | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>national demographic</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>about project</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="mosaic-item modal-trigger imaged"  >
              <div class="image">
                <img alt="" src="{{ 'services/work02.jpg'  | theme_image_url }}">
              </div>
              <div class="meta">
                <div class="title">
                  redesegin<br>
                  Colonialism.
                </div>
                <div class="short-tag">
                  branding
                </div>
              </div>
               <div id="the-modal12" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>redesegin Colonialism</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>redesegin Colonialism</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mosaic-item modal-trigger colored"  >
              <div class="meta">
                <div class="title">
                  english man in<br>
                  new york.
                </div>
                <div class="short-tag">
                  photography
                </div>
              </div>
               <div id="the-modal10" class="modal" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <a class="close-modal" href="#"></a>
                    <div class="modal-slider-holder">
                      <div class="flex-direction-nav">

                        <a class="btn-prev" href="prev"></a>
                        <a class="btn-next" href="next"></a>
                      </div>
                      <div class="modal-slider flexslider">

                        <ul class="slides">
                          <li class="slide">
                            <img src="{{ 'services/work-big-01.jpg' | theme_image_url }}" alt="" />
                          </li>
                          <li class="slide">
                            <img src="{{ 'services/work-big-02.jpg' | theme_image_url }}" alt="" />
                          </li>
                        </ul>

                      </div>
                    </div>

                    <div class="body-holder">
                      <h1>redesegin Colonialism</h1>
                      <div class="row row-body">
                        <div class="col-xs-12 col-md-6">
                          <div class="desc">
                            <h3>redesegin Colonialism</h3>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>client</h3>
                            <p>BLAH Productions</p>
                          </div>
                          <div class="desc">
                            <h3>project date</h3>
                            <p>12 july 2014</p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-3">
                          <div class="desc">
                            <h3>share this project</h3>
                            <ul class="share-icons">
                              <li><a class="fa fa-facebook-square" href="#">facebook</a></li>
                              <li><a class="fa fa-twitter" href="#">twitter</a></li>
                              <li><a class="fa fa-pinterest-square" href="#">pinterest</a></li>
                            </ul>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="load-more-holder">
        <a href="#" class="load-more">more</a>
      </div>
    </section>

    <section id="services" data-background-image="{{ 'bg-services.jpg' | theme_image_url }}">

      <div class="container">
        <div class="flexslider services-slider">
          <div class="flex-direction-nav">

            <a class="btn-prev" href="prev"></a>
            <a class="btn-next" href="next"></a>
          </div>
          <ul class="slides">
            <li class="slide">

              <div class="slide-content">
                <div class="caption">
                  <div class="small uppercase">
                    {% editable_text, label: "PreHeading for services section" %}
                      what we are expert
                    {% endeditable_text %}

                  </div>
                  <div class="big">
                    {% editable_text, label: "Heading for services section" %}
                      we build apps.
                    {% endeditable_text %}
                  </div>
                  <div class="small">
                    {% editable_text, label: "SubHeading for services section" %}
                      We work with a great happiness feel
                    {% endeditable_text %}

                  </div>

                  <a class="play-button inverse" href="#">watch the process</a>
                </div>

                <div class="image">
                  <img alt="" src="{{ 'responsive01.png' | theme_image_url }}" />
                </div>
              </div>
            </li>



            <li class="slide">

              <div class="slide-content">
                <div class="caption">
                  <div class="small uppercase">
                    what we are expert
                  </div>
                  <div class="big">
                    we make websites
                  </div>
                  <div class="small">
                    We work with a great happiness feel
                  </div>

                  <a class="play-button" href="https://www.youtube.com/watch?v=kuceVNBTJio">watch the process</a>
                </div>

                <div class="image">
                  <img alt="" src="{{ 'responsive01.png' | theme_image_url }}" />
                </div>
              </div>
            </li>



          </ul>

          <div class="nav-holder">

            <a class="btn-prev" href="prev"></a>
            <a class="btn-next" href="next"></a>
          </div>
        </div>
      </div>
    </section>

    <section id="teams">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            best team ever
          </div>
          <div class="big">
            the avant grade.
          </div>
          <div class="small capital">
            designer, programmer, illustrator. photographer
          </div>
        </div>
      </div>
      <div class="mosaic-holder">
        <div class="row">
          <div class="col-md-6 no-margin">

             <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'member03.jpg' | theme_image_url }}">

              </div>
              <div class="meta">
                <div class="title">
                  are you<br>
                  willing to join?
                </div>
                <div class="short-tag">
                  send us your cv
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-envelope-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal04" class="modal-content">
                <h3>willing to join?</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

                <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'member02.jpg' | theme_image_url }}">

              </div>
              <div class="meta">
                <div class="title">
                  carmenya<br>
                  javanotchksi.
                </div>
                <div class="short-tag">
                  developer
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal02" class="modal-content">
                <h3>carmenya javanotchksi</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>
          </div>


          <div class="col-md-6 no-margin">


             <div class="mosaic-item prettyphoto imaged"  >
              <div class="image" data-background-image="{{ 'Carlosthecreator.jpg' | theme_image_url }}">

              </div>

              <div class="meta">
                <div class="title">
                  Carlos<br>
                  Virreira.
                </div>
                <div class="short-tag">
                  People & Objectives
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal01" class="modal-content">
                <h3>joanne de huffington</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

            <div class="mosaic-item prettyphoto colored"  >
              <div class="meta">
                <div class="title">
                  alexandre<br>
                  kimberly
                </div>
                <div class="short-tag">
                  art director
                </div>
                <div class="social-icons">
                  <ul>
                    <li> <a class="fa fa-facebook-square" href="#"></a></li>
                    <li> <a class="fa fa-twitter-square" href="#"></a></li>

                  </ul>
                </div>
              </div>
              <div id="modal03" class="modal-content">
                <h3>alexandre</h3>
                <div class="body">
                  <p>This is inline content opened in prettyPhoto.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <section id="studio">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            where we work
          </div>
          <div class="big">
            inside the studio
          </div>
          <div class="small capital">
            when designing our studio, we incorporated old,classy and clean,<br>
            along with the work of our friends and neighbors.
          </div>
        </div>
      </div>
      <div class="tiles-holder">
        <div class="row">
          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_27.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              high five - succeed
            </div>
          </div>
          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_28.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              meeting with a team
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_29.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              nineball tournament
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_30.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              alex & paul hangout
            </div>
          </div>

          <div class="tile-item">
            <div class="image">
              <img alt="" src="{{ 'inside-studio/Homepage-Agency_31.jpg' | theme_image_url }}" />
            </div>
            <div class="caption">
              bravo the squad
            </div>
          </div>
        </div>
      </div>


    </section>



    <section id="clients">
      <div class="container">
        <div class="section-title">
          <div class="small uppercase">
            more than a hundreds
          </div>
          <div class="big">
            50+ satisfied clients.
          </div>
          <div class="small capital">
            our vision is to make the people happy with the works.
          </div>
        </div>

       <div class="row clients-row">
          <div class="col-md-3 ">
            <div class="client-item">
              <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo01.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo02.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo03.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo04.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
        </div>
        <hr>
        <div class="row clients-row">
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo05.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo06.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo07.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="client-item">
               <a href="#">
                <div class="logo">
                  <div class="image">
                    <img alt="" src="{{ 'logos/logo08.jpg' | theme_image_url }}" />
                  </div>
                </div>

              </a>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section id="contact">
      <div class="container">
        <div class="col-md-4">
          <div class="footer-widget">
            <h1>Office.</h1>
            <div class="body">
              <p>Gele Rijders Plein 11-1<br>
                6811AN Arnhem<br>
                Netherlands
              </p>
              <div class="margined">
                Tel. +1 808 1234 456
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h1>hire us.</h1>
            <div class="body">
              <p>Let's get start with a simple project together!

              </p>
              <div class="margined">
                hello@whale-agency.com
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="footer-widget">
            <h1>follow us.</h1>
            <div class="body">
              <p>
                We are open to get any suggestions about your problems and please follow our social media to connect with us!
              </p>
              <div class="margined social-icons">
                <ul>
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-linkedin" href="#"></a></li>
                  <li><a class="fa fa-google-plus" href="#"></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>




  </div>



{% endblock %}
